.home-container {
  width: 100%;
  display: flex;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
}
.home-main {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-hero {
  position: relative;
  padding-top: 128px;
}
.home-max-width {
  z-index: 1;
  align-items: stretch;
}
.home-content-container {
  flex: 1;
  display: flex;
  max-width: 45%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text {
  z-index: 100;
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-unit);
}
.home-text01 {
  font-style: normal;
  font-weight: 500;
  margin-bottom: 42px;
}
.home-btns-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
}
.home-primary {
  color: rgb(13, 31, 58);
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.home-video-container {
  flex: 1;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-image {
  width: 648px;
  height: 659px;
  object-fit: cover;
}
.home-blue-background {
  top: 0px;
  right: 0px;
  width: 47%;
  height: 100px;
  position: absolute;
  min-height: 80%;
  background-size: cover;
  background-image: url("/playground_assets/blue-background-1500w.png");
  background-repeat: no-repeat;
}
.home-sponsors {
  flex: 0 0 auto;
  display: flex;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-color: rgba(144, 149, 167, 0.1);
  border-width: 0px;
  flex-direction: column;
  border-bottom-width: 1px;
}
.home-max-width1 {
  flex-direction: column;
}
.home-text02 {
  color: var(--dl-color-scheme-darkgray);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-twounits);
  letter-spacing: 0.25em;
}
.home-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-image1 {
  height: 80px;
  object-fit: cover;
}
.home-image2 {
  height: 80px;
  object-fit: cover;
}
.home-image3 {
  height: 80px;
  object-fit: cover;
}
.home-image4 {
  height: 80px;
  object-fit: cover;
}
.home-image5 {
  height: 80px;
  object-fit: cover;
}
.home-image6 {
  height: 80px;
  object-fit: cover;
}
.home-speakers {
  display: flex;
  padding-top: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.home-max-width2 {
  flex-direction: column;
}
.home-heading-container {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: column;
}
.home-text05 {
  color: var(--dl-color-scheme-darkgray);
  font-style: normal;
  text-align: center;
  font-weight: 500;
}
.home-text06 {
  text-align: center;
}
.home-speakers-container {
  width: 100%;
  display: grid;
  grid-row-gap: var(--dl-space-space-fourunits);
  grid-column-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.home-numbers-banner {
  display: flex;
  padding-top: var(--dl-space-space-fiveunits);
  flex-direction: column;
  background-size: cover;
  background-image: url("/playground_assets/group%2029-1500w.png");
}
.home-container2 {
  flex-direction: column;
}
.home-heading-container1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: column;
}
.home-text09 {
  color: var(--dl-color-scheme-white);
  font-style: normal;
  text-align: center;
  font-weight: 500;
}
.home-text10 {
  color: var(--dl-color-scheme-white);
  text-align: center;
}
.home-numbers-container {
  width: 1006px;
  display: grid;
  grid-row-gap: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-fourunits);
  grid-column-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.home-location {
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.home-image7 {
  width: 55%;
  max-height: 950px;
  object-fit: cover;
}
.home-content-container1 {
  flex: 1;
  display: flex;
  align-items: stretch;
  padding-top: 100px;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  background-color: var(--dl-color-scheme-lightblue);
}
.home-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-scheme-lightblue);
}
.home-text11 {
  color: var(--dl-color-scheme-white);
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.1;
  margin-left: var(--dl-space-space-halfunit);
  padding-top: 4px;
  padding-left: 18px;
  margin-bottom: 6px;
  padding-right: 11px;
  padding-bottom: 6px;
  background-color: var(--dl-color-scheme-lightblue);
}
.home-container4 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-end;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
}
.home-container5 {
  flex: 1;
  width: 100%;
  display: flex;
  max-width: 350px;
  align-items: flex-start;
  margin-left: 124px;
  flex-direction: column;
}
.home-text12 {
  color: var(--dl-color-scheme-white);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text13 {
  color: var(--dl-color-scheme-white);
  margin-bottom: var(--dl-space-space-twounits);
  text-transform: none;
}
.home-btns-container1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
}
.home-learn-more {
  color: var(--dl-color-scheme-white);
  transition: 0.3s;
  border-color: var(--dl-color-scheme-white);
}
.home-learn-more:hover {
  border-color: var(--dl-color-scheme-pink);
}
.home-agenda {
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}
.home-max-width3 {
  flex-direction: column;
}
.home-heading-container2 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: column;
}
.home-text14 {
  text-align: center;
}
.home-events-container {
  width: 100%;
  display: grid;
  grid-row-gap: var(--dl-space-space-fourunits);
  grid-column-gap: 30px;
  grid-template-columns: 1fr 1fr;
}
.home-column {
  width: 100%;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr;
}
.home-column-header {
  width: 100%;
  display: flex;
  align-items: center;
}
.home-line {
  flex: 1;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(144, 149, 167, 0.2);
}
.home-column1 {
  width: 100%;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr;
}
.home-column-header1 {
  width: 100%;
  display: flex;
  align-items: center;
}
.home-line1 {
  flex: 1;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(144, 149, 167, 0.2);
}
.home-workshops {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.home-content-container2 {
  flex: 1;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(144, 149, 167, 0.08);
}
.home-container6 {
  flex: 0 0 auto;
  width: 464px;
  display: flex;
  max-width: 366px;
  align-items: flex-start;
  margin-right: 107px;
  flex-direction: column;
}
.home-text15 {
  font-size: 42px;
  margin-bottom: 42px;
}
.home-image8 {
  width: 1200px;
  height: 259px;
  object-fit: cover;
}
.home-previous-events {
  height: 141px;
  display: flex;
  position: relative;
  flex-direction: column;
  padding-bottom: 150px;
}
.home-max-width4 {
  flex-direction: column;
}
.home-heading-container3 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: column;
}
.home-text16 {
  text-align: center;
}
@media(max-width: 991px) {
  .home-max-width {
    flex-direction: column;
  }
  .home-content-container {
    max-width: 100%;
    margin-bottom: 42px;
  }
  .home-blue-background {
    top: auto;
    width: 100%;
    bottom: 0px;
    min-height: 40%;
  }
  .home-speakers-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .home-numbers-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .home-location {
    flex-direction: column;
  }
  .home-image7 {
    width: 100%;
  }
  .home-content-container1 {
    padding-top: 0px;
    padding-left: var(--dl-space-space-threeunits);
  }
  .home-container3 {
    margin-top: -100px;
    align-items: center;
  }
  .home-container5 {
    max-width: 100%;
    margin-left: 0px;
  }
  .home-events-container {
    grid-template-columns: 1fr;
  }
  .home-container6 {
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 767px) {
  .home-text {
    font-size: 48px;
  }
  .home-speakers-container {
    grid-template-columns: 1fr 1fr;
  }
  .home-numbers-container {
    grid-template-columns: 1fr 1fr;
  }
  .home-image7 {
    max-height: 100%;
  }
  .home-content-container1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text11 {
    margin-left: -24px;
  }
  .home-btns-container1 {
    width: 100%;
    align-items: stretch;
    flex-direction: column;
  }
  .home-workshops {
    flex-direction: column-reverse;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container6 {
    max-width: 100%;
    padding-top: var(--dl-space-space-twounits);
    margin-right: 0px;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-previous-events {
    padding-bottom: var(--dl-space-space-sixunits);
  }
}
@media(max-width: 479px) {
  .home-container1 {
    justify-content: center;
  }
  .home-speakers-container {
    grid-template-columns: 1fr;
  }
}
